%h1 Listing vat_rates

%table
  %thead
    %tr
      %th Rate
      %th Item
      %th Active from
      %th Active to
      %th Actions
      %th
      %th

  %tbody
    - @vat_rates.each do |vat_rate|
      %tr
        %td= vat_rate.rate
        %td= vat_rate.item_id
        %td= vat_rate.active_from
        %td= vat_rate.active_to
        %td
          %button{type: "button", style: "background-color: oklch(0.508 0.118 165.612);"}
            = link_to 'Show', vat_rate, style: "color: white;"
        %td
          %button{type: "button", style: "background-color: oklch(0.488 0.243 264.376);", onclick: "document.getElementById('edit-vat-rate-dialog-#{vat_rate.id}').showModal()"} Edit
          %dialog{id: "edit-vat-rate-dialog-#{vat_rate.id}"}
            %h3 Edit Vat_rate
            = render 'vat_rates/edit_modal', vat_rate: vat_rate
            %button{type: "button", onclick: "document.getElementById('edit-vat-rate-dialog-#{vat_rate.id}').close()"} Cancel
        %td
          %button{type: "button", style: "background-color: oklch(0.514 0.222 16.935);", onclick: "document.getElementById('destroy-vat-rate-dialog-#{vat_rate.id}').showModal()"} Destroy
          %dialog{id: "destroy-vat-rate-dialog-#{vat_rate.id}"}
            %h3 Destroy Vat_rate
            = render 'vat_rates/destroy_modal', vat_rate: vat_rate
            %button{type: "button", onclick: "document.getElementById('destroy-vat-rate-dialog-#{vat_rate.id}').close()"} Cancel

%br

= link_to 'New Vat rate', new_vat_rate_path
