- if notice
  %p#notice= notice

%p
  %b Rate:
  = @vat_rate.rate
%p
  %b Item:
  = @vat_rate.item
%p
  %b Active from:
  = @vat_rate.active_from
%p
  %b Active to:
  = @vat_rate.active_to

= link_to 'Edit', edit_vat_rate_path(@vat_rate)
\|
= link_to 'Back', vat_rates_path
