- if notice
  %p#notice= notice

%h1 Show Company

%div= @company.name

= link_to 'Edit', edit_company_path(@company)
|
= link_to 'Back', companies_path

%br
%br

%h3 Items
= render 'items/index', items: @company.items

%br
%br

= render 'items/form_modal', company_id: @company.id

%br
%br


%h3 Transactions
= render 'transactions/index', transactions: @company.transactions

%br
%br

= render 'transactions/form_modal', company_id: @company.id, company_users: @company.users, company_customers: @company.customers

%br
%br
