%p= transaction.transaction_date
%p= transaction.notes
%p= transaction.total_amount_excl_vat
%p= transaction.total_amount_incl_vat
%p= transaction.company
%p= transaction.customer
%p= transaction.user
