!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Rails Graphql Sample"
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.header-layout
    %header#header
      .container
        %h1.font-bold.text-2xl Rails Graphql Sample
        - if current_company
          %h1= current_company.name
          %br
          %br
    %main#main
      - if notice.present?
        .flash{"data-action" => "animationend->element-removal#remove", "data-controller" => "element-removal", popover: "", role: "alert", style: "--flash-position: 5rem;"}= notice
      .container
        = yield